.dialogs__wrapper {
	display: grid;
	grid-template-columns: 3fr 5fr;
	background-color: yellow;
}

.dialogs_item {
	background-color: #b4b4b4;
	padding: 7px;
	margin-bottom: 10px;
}
.dialogs_message {
	background-color: #a7f2ff;
	padding: 7px;
	margin-bottom: 10px;
}