.profile__wrapper {
	background-color: #35dd97;
}
.profile__item {
	background-color: #a5fab3;
	padding: 10px;
	margin-bottom: 8px;
}

h3, h4 {
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}

.ava {
	padding: 5px;
	width: 70px;
	background-color: #164dc4;
}
.posts {
	padding: 2px;
	border: 2px #000 dashed;
}

.posts__item {
	padding: 3px 6px;
	background-color: #fdbcbc;
	margin-bottom: 6px;
}